# TERRAFORM
# Local .terraform directories
**/.terraform/*
.terraform/


# Terraform lock file
.terraform.lock.hcl
# Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log
# Terraform variable overrides
*.tfvars
*.tfvars.json


# Sensitive or local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json



#  cli configuration files
.terraformrc
terraform.rc

#  linux and editor file
#System junk
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*.swp
*.swo
*.bak
*.tmp
# VS Code
.vscode/
.history/
# Logs
*.log
logs/
